
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col col-sm-6">
        <div style="height: 30px; background: #fbeeee; width:100%; text-align: center; padding: 2px; border-radius: 5px;">
            caption 1
        </div>
        <div style="max-height: 400px; width: 100%; overflow: auto;">
            list 1
        </div>
    </div>
        <div class="col col-sm-6">
            <div style="height: 30px; background: #fbeeee; width: 100%; text-align: center; padding: 2px; border-radius: 5px;">
                caption 2
            </div>
            <div style="max-height: 400px; width: 100%; overflow: auto;">
                list 2
            </div>
        </div>
</div>

