@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>

    <form method="post"action=@Url.Action("About", "Home")>
        <input type="submit" value="Save" name="btnSubmit"/>
        <input type="submit" value="Search" name="btnSubmit"/>
    </form>
</main>